body {
    font-family: sans-serif;
}

.dovish {
    color: green;
}

.neutral {
    color: yellow;
}

.hawkish {
    color: red;
}

.added {
    font-weight: bold;
    font-style: italic;
}

.removed {
    text-decoration: line-through;
}